/**
 Themeing broken up in sections:
   * core theme colors
   * material design sys colors
   * component colors
*/
:host {
  /* core sizing */
  --sidebar-width: 270px;
  --scrollbar-width: 15px;

  /* core color palette */
  --bg: #292929;
  --bg2: #111;
  --clr: #999999;
  --clr_bold: #CCCCCC;
  --clr_disabled: #666;
  --err: #F92772;
  --err_disabled: #833;
  --accent: #6436e7;  /* accents */
  --accent2: #1EC8FA;  /* text emphasis */
  --accent3: #6E330A;  /* accented bg */

  /* material design system colors */
  --md-sys-color-primary: var(--accent);  /* fab filled-button linear-progress radio switch */
  --md-sys-color-on-primary: var(--clr_bold);  /* filled-button switch */
  --md-sys-color-secondary-container: color-mix(in srgb, var(--md-sys-color-primary), black 20%);  /* filled-tonal-button */
  --md-sys-color-on-secondary-container: color-mix(in srgb, var(--md-sys-color-on-primary), black 20%);  /* filled-tonal-button */
  --md-sys-color-surface-container-high: var(--bg);  /* dialog fab */
  --md-sys-color-surface-container-highest: var(--bg2);  /* linear-progress */
  --md-sys-color-on-surface-variant: var(--clr);  /* dialog filled-text-field radio */
  --md-sys-color-outline: var(--clr_bold);  /* outlined-button switch */

  /* component colors */
  --ss--primary-background-color: var(--bg);
  --ss--primary-text-color: var(--clr);
  --md-filled-text-field-bottom-space: 2px;
  --md-filled-text-field-container-color: #0000;
  --md-filled-text-field-error-active-indicator-color: var(--err);
  --md-filled-text-field-error-label-text-color: var(--err);
  --md-filled-text-field-focus-active-indicator-color: var(--accent2);
  --md-filled-text-field-focus-active-indicator-height: 1px;
  --md-filled-text-field-focus-input-text-color: var(--clr_bold);
  --md-filled-text-field-focus-label-text-color: var(--accent2);
  --md-filled-text-field-hover-active-indicator-color: var(--clr);
  --md-filled-text-field-hover-input-text-color: var(--clr_bold);
  --md-filled-text-field-input-text-color: var(--clr);
  --md-filled-text-field-label-text-color: var(--clr);
  --md-filled-text-field-leading-space: 0px;
  --md-filled-text-field-top-space: 36px;
  --md-filled-text-field-trailing-space: 0;
  --md-filled-text-field-with-label-top-space: 20px;
  --md-filled-text-field-with-label-bottom-space: 2px;
  --md-outlined-button-label-text-color: var(--clr_bold);
  --md-linear-progress-active-indicator-height: 5px;
  --md-linear-progress-track-height: 5px;
  --paper-toast-background-color: var(--accent3);
  --paper-toast-color: var(--clr_bold);
  --round-slider-bar-color: var(--accent);
  --round-slider-handle-color: var(--accent);
  --round-slider-path-color: var(--clr);
  --ss-about-page-text-emphasis-color: var(--accent2);
  --ss-abstract-action-page-background-color: var(--bg);
  --ss-audio-player-button-color: var(--clr_bold);
  --ss-drawer-tab-active-color: var(--accent);
  --ss-drawer-tab-background-color: color-mix(in srgb, var(--bg), black 25%);
  --ss-drawer-tab-text-color: var(--clr);
  --ss-genre-list-item-selected-background-color: var(--accent3);
  --ss-icon-button-emphasis-color: var(--accent2);
  --ss-options-menu-background-color: var(--bg2);
  --ss-options-menu-background-color-hover: inherit;
  --ss-options-menu-text-color-hover: var(--clr_bold);
  --ss-pitch-slider-background-color: var(--bg2);
  --ss-pitch-slider-color: var(--accent2);
  --ss-playlist-list-item-selected-background-color: var(--accent3);
  --ss-search-info-text-heading-color: var(--clr_bold);
  --ss-search-info-text-emphasis-color: var(--accent2);
  --ss-search-toolbar-background-color: var(--bg2);
  --ss-song-list-item-artist-color: var(--clr);
  --ss-song-list-item-border-bottom: 1px solid var(--ss-song-list-item-border-color);
  --ss-song-list-item-border-color: color-mix(in srgb, var(--bg), white 3%);;
  --ss-song-list-item-energy-0: #999;
  --ss-song-list-item-energy-1: #0066ff;
  --ss-song-list-item-energy-2: #00ccff;
  --ss-song-list-item-energy-3: #00ffff;
  --ss-song-list-item-energy-4: #00ffb0;
  --ss-song-list-item-energy-5: #00ff00;
  --ss-song-list-item-energy-6: #99ff00;
  --ss-song-list-item-energy-7: #ffff00;
  --ss-song-list-item-energy-8: #ff9900;
  --ss-song-list-item-energy-9: #ff5500;
  --ss-song-list-item-energy-10: #ff2266;
  --ss-song-list-item-fade-out: linear-gradient(to right, color-mix(in srgb, var(--bg), transparent 100%), color-mix(in srgb, var(--bg), transparent 0%));
  --ss-song-list-item-hover-background-color: var(--bg2);
  --ss-song-list-item-hover-fade-out: linear-gradient(to right, color-mix(in srgb, var(--ss-song-list-item-hover-background-color), transparent 100%), color-mix(in srgb, var(--ss-song-list-item-hover-background-color), transparent 0%));
  --ss-song-list-item-title-color: var(--clr_bold);
  --ss-song-list-item-waveform-0: var(--ss-song-list-item-energy-0);
  --ss-song-list-item-waveform-1: var(--ss-song-list-item-energy-1);
  --ss-song-list-item-waveform-2: var(--ss-song-list-item-energy-2);
  --ss-song-list-item-waveform-3: var(--ss-song-list-item-energy-3);
  --ss-song-list-item-waveform-4: var(--ss-song-list-item-energy-4);
  --ss-song-list-item-waveform-5: var(--ss-song-list-item-energy-5);
  --ss-song-list-item-waveform-6: var(--ss-song-list-item-energy-6);
  --ss-song-list-item-waveform-7: var(--ss-song-list-item-energy-7);
  --ss-song-list-item-waveform-8: var(--ss-song-list-item-energy-8);
  --ss-song-list-item-waveform-9: var(--ss-song-list-item-energy-9);
  --ss-song-list-item-waveform-10: var(--ss-song-list-item-energy-10);
  --ss-song-list-multi-options-dialog-background-color: black;
  --ss-song-list-multi-options-dialog-text-color: var(--clr);
  --ss-star-rating-unselected-icon-color: var(--clr_disabled);
  --ss-star-rating-selected-icon-color: var(--clr_bold);
  --ss-star-rating-trashed-icon-color: var(--err_disabled);
}
