:host(.traktor) {
  /* core color palette */
  --bg: #282828;
  --bg2: #141414;
  --bg3: #1E1E1E;
  --clr: #AFAFAF;
  --clr_bold: #D2D2D2;
  --clr_disabled: #3A3A3A;
  --err: #FF3900;
  --err_disabled: #833;
  --accent: #FF8D3B;
  --accent2: #40D9FF;
  --accent3: #00425C;

  /* component colors */
  --md-checkbox-selected-icon-color: var(--bg);
  --md-filled-button-container-color: var(--accent3);
  --md-filled-tonal-button-container-color: var(--accent3);
  --md-linear-progress-active-indicator-color: var(--accent2);
  --ss-options-menu-background-color-hover: var(--accent3);
  --ss-star-rating-selected-icon-color: var(--accent);

  /* paper input */
  --pi_accent: var(--accent2);
  --pi_clr: var(--clr);
  --pi_err: var(--err);
  /* drawer tabs */
  --dt_bg: var(--bg2);
  --dt_clr: var(--inherit);
  --dt_bar: var(--accent);
  /* volume dial */
  --vd_clr: var(--clr);
  --vd_clr_accent: var(--accent);
  /* pitch slider */
  --ps_clr: var(--accent2);
  --ps_bg: var(--bg2);
  /* song list */
  --sl_artist: var(--clr);
  --sl_title: var(--clr_bold);
  --sl_border: var(--bg2);
  --sl_hover: var(--bg3);
  --sl_energy0: #999;
  --sl_energy1: #0066ff;
  --sl_energy2: #00ccff;
  --sl_energy3: #00ffff;
  --sl_energy4: #00ffb0;
  --sl_energy5: #00ff00;
  --sl_energy6: #99ff00;
  --sl_energy7: #ffff00;
  --sl_energy8: #ff9900;
  --sl_energy9: #ff5500;
  --sl_energy10: #ff2266;
}