:host(.traktor) {
  /* core color palette */
  --bg: #282828;
  --bg2: #141414;
  --clr: #AFAFAF;
  --clr_bold: #D2D2D2;
  --clr_disabled: #3A3A3A;
  --err: #FF3900;
  --err_disabled: #833;
  --accent: #FF8D3B;
  --accent2: #40D9FF;
  --accent3: #00425C;

  /* component colors */
  --md-checkbox-selected-icon-color: var(--bg);
  --md-filled-button-container-color: var(--accent3);
  --md-filled-tonal-button-container-color: var(--accent3);
  --md-linear-progress-active-indicator-color: var(--accent2);
  --ss-options-menu-background-color-hover: var(--accent3);
  --ss-star-rating-selected-icon-color: var(--accent);
}