:host(.traktor) {
  /* main */
  --bg: #2E2E2E;
  --bg2: #141414;
  --clr: #AFAFAF;
  --clr_bold: #D2D2D2;
  --clr_disabled: #3A3A3A;
  --err: #FF3900;
  --accent: #FF8D3B;
  --accent2: #40D9FF;
  --accent3: #00425C;
  /* star rating */
  --sr_clr: var(--clr);
  --sr_selected: var(--accent);
  --sr_trashed: #833;
  /* paper menu */
  --pm_bg: var(--bg2);
  --pm_bghover: var(--accent3);
  /* paper input */
  --pi_accent: var(--accent2);
  /* paper toggle button */
  --pb_clr: var(--accent);
  /* paper alert toast */
  --pt_bg: var(--accent3);
  --pt_clr: var(--black);
  /* abstract actions */
  --aa_ok: var(--accent); /* not working */
  /* drawer tabs */
  --dt_bg: var(--bg2);
  --dt_clr: var(--inherit);
  --dt_bar: var(--accent); /* not working: */
  --dt_ink: var(--accent);
  /* genre list */
  --gl_ink: var(--accent);
  --gl_select: var(--accent3);
  /* playlist list */
  --pl_fab: var(--accent);
  /* search toolbar */
  --st_bg: var(--bg2);
  /* pitch slider */
  --ps_clr: var(--accent2);
  --ps_bg: var(--clr);
  /* search info */
  --si_heading: var(--clr_bold);
  --si_emphasis: var(--accent2);
  /* font-weight: 500; */
  /* song list */
  --sl_border: 1px solid #2F2F2F;
  --sl_hover: rgb(20,20,20);
  --sl_fadeout: linear-gradient(to right, rgba(41,41,41,0), rgba(41,41,41,1));
  --sl_hoverfadeout: linear-gradient(to right, rgba(20,20,20,0), rgba(20,20,20,1));
  --sl_btnborder: 1px solid rgb(20,20,20);
  --sl_btnborderhover: 1px solid #999999;
  --sl_energy0: #999;
  --sl_energy1: #0066ff;
  --sl_energy2: #00ccff;
  --sl_energy3: #00ffff;
  --sl_energy4: #00ffb0;
  --sl_energy5: #00ff00;
  --sl_energy6: #99ff00;
  --sl_energy7: #ffff00;
  --sl_energy8: #ff9900;
  --sl_energy9: #ff5500;
  --sl_energy10: #ff2266;
  /* audio */
  --au_play: var(--clr_bold);
  --au_disabled: var(--clr_disabled);

  /** main **/
  --dark-primary-color: #FFFF00;
  --default-primary-color: #FFFF00;
  --light-primary-color: #FFFF00;
  --text-primary-color: #FFFF00;
  --accent-color: #FFFF00;
  --primary-background-color: var(--bg);
  --primary-text-color: var(--clr);
  --secondary-text-color: var(--clr_bold);
  --disabled-text-color: var(--clr_disabled);
  --divider-color: #FFFF00;
}