:host(.serato) {
  --osx_grey: #B1B1B1;
  --sl_blue: #1EC8FA;
  --sl_brown: #6E330A;
  --sl_green: #39FF7E;
  --sl_grey: #292929;
  --sl_orange: #FDC443;
  --sl_purple: #AC1AFA;

  --sidebar-width: 270px;
  --scrollbar-width: 15px;

  /* core color palette */
  --bg: var(--sl_grey);
  --bg2: #161616;
  --clr: #999999;
  --clr_bold: #CCCCCC;
  --clr_disabled: #666;
  --err: #F92772;
  --err_disabled: #833;
  --accent: var(--sl_brown);
  --accent2: var(--sl_green);
  --accent3: var(--sl_brown);

  /* component colors */
  --md-fab-container-color: var(--sl_brown);
  --md-fab-icon-color: var(--clr_bold);
  --md-filled-text-field-focus-active-indicator-color: var(--sl_blue);
  --md-filled-text-field-focus-label-text-color: var(--sl_blue);
  --md-linear-progress-track-color: var(--clr);
  --md-linear-progress-active-indicator-color: var(--sl_purple);
  --md-switch-handle-color: var(--clr);
  --md-switch-selected-handle-color: var(--sl_blue);
  --md-switch-selected-track-color: var(--sl_blue);
  --md-switch-track-color: var(--clr);
  --round-slider-bar-color: var(--sl_blue);
  --round-slider-handle-color: var(--sl_blue);
  --ss-drawer-tab-active-color: var(--clr_bold);
  --ss-drawer-tab-background-color: #1F1F1F;
  --ss-icon-button-emphasis-color: var(--sl_green);
  --ss-options-menu-background-color-hover: black;
  --ss-pitch-slider-background-color: var(--clr);
  --ss-pitch-slider-color: var(--sl_purple);
  --ss-search-info-heading-color: #CCC;
  --ss-search-info-emphasis-color: var(--sl_green);
  --ss-search-toolbar-background-color: black;
  --ss-song-list-item-border-color: #2F2F2F;
  --ss-song-list-item-hover-background-color: rgb(20,20,20);
  --ss-star-rating-selected-icon-color: #EEE;

  /** main **/
  --dark-primary-color: #303f9f;
  --default-primary-color: #3f51b5;
  --light-primary-color: #c5cae9;
  --text-primary-color: #ffffff;
  --accent-color: #ff4081;
  --primary-background-color: var(--bg);
  --primary-text-color: var(--clr);
  --secondary-text-color: var(--clr_bold);
  --disabled-text-color: #bdbdbd;
  --divider-color: #e0e0e0;
}
