:host(.serato) {
  --osx_grey: #B1B1B1;
  --sl_blue: #1EC8FA;
  --sl_brown: #6E330A;
  --sl_green: #39FF7E;
  --sl_grey: #292929;
  --sl_orange: #FDC443;
  --sl_purple: #AC1AFA;

  --sidebar-width: 270px;
  --scrollbar-width: 15px;

  /* core color palette */
  --bg: var(--sl_grey);
  --bg2: #161616;
  --clr: #999999;
  --clr_bold: #CCCCCC;
  --clr_disabled: #666;
  --err: #F92772;
  --err_disabled: #833;
  --accent: var(--sl_brown);
  --accent2: var(--sl_green);
  --accent3: var(--sl_brown);

  /* component colors */
  --md-fab-container-color: var(--sl_brown);
  --md-fab-icon-color: var(--clr_bold);
  --md-linear-progress-track-color: var(--clr);
  --md-linear-progress-active-indicator-color: var(--sl_purple);
  --md-switch-handle-color: var(--clr);
  --md-switch-selected-handle-color: var(--sl_blue);
  --md-switch-selected-track-color: var(--sl_blue);
  --md-switch-track-color: var(--clr);
  --ss-icon-button-emphasis-color: var(--sl_green);
  --ss-options-menu-background-color-hover: black;
  --ss-search-info-heading-color: #CCC;
  --ss-search-info-emphasis-color: var(--sl_green);
  --ss-search-toolbar-background-color: black;
  --ss-star-rating-selected-icon-color: #EEE;

  /* paper input */
  --pi_accent: var(--sl_blue);
  --pi_clr: var(--clr);
  --pi_err: var(--err);
  /* drawer tabs */
  --dt_bg: #1F1F1F;
  --dt_clr: inherit;
  --dt_bar: var(--clr_bold);
  /* volume dial */
  --vd_clr: var(--clr);
  --vd_clr_accent: var(--sl_blue);
  /* pitch slider */
  --ps_clr: var(--sl_purple);
  --ps_bg: #999;
  /* song list */
  --sl_artist: var(--clr);
  --sl_title: var(--clr_bold);
  --sl_border: #2F2F2F;
  --sl_hover: rgb(20,20,20);
  --sl_energy0: #999;
  --sl_energy1: #0066ff;
  --sl_energy2: #00ccff;
  --sl_energy3: #00ffff;
  --sl_energy4: #00ffb0;
  --sl_energy5: #00ff00;
  --sl_energy6: #99ff00;
  --sl_energy7: #ffff00;
  --sl_energy8: #ff9900;
  --sl_energy9: #ff5500;
  --sl_energy10: #ff2266;

  /** main **/
  --dark-primary-color: #303f9f;
  --default-primary-color: #3f51b5;
  --light-primary-color: #c5cae9;
  --text-primary-color: #ffffff;
  --accent-color: #ff4081;
  --primary-background-color: var(--bg);
  --primary-text-color: var(--clr);
  --secondary-text-color: var(--clr_bold);
  --disabled-text-color: #bdbdbd;
  --divider-color: #e0e0e0;
}
