:host {
  --inherit: inherit;
  --black: black;
  --white: white;

  /* main */
  --bg: #292929;
  --bg2: #1F1F1F;
  --clr: #999999;
  --clr_bold: #CCCCCC;
  --clr_disabled: #666;
  --err: #F92772;
  --err_disabled: #833;
  --accent: #4054AF;
  --accent2: #1EC8FA;
  --accent3: #6E330A;
  --accent4: #5724E5;
  --sidebar-width: 270px;
  --scrollbar-width: 15px;

  /* star rating */
  --sr_clr: var(--clr_disabled);
  --sr_selected: var(--clr_bold);
  --sr_trashed: var(--err_disabled);
  /* options menu */
  --om_bg: var(--bg2);
  --om_bg_hover: var(--inherit);
  --om_clr_hover: var(--clr_bold);
  /* paper input */
  --pi_accent: var(--accent2);
  --pi_clr: var(--clr);
  --pi_err: var(--err);
  /* paper toggle button */
  --ptb_clr_checked: var(--accent);
  --ptb_clr_unchecked: var(--clr);
  /* paper alert toast */
  --pt_bg: var(--accent3);
  --pt_clr: var(--white);
  /* paper button */
  --pb_accent_bg: var(--accent4);
  --pb_accent_clr: var(--clr_bold);
  --pb_bg: var(--accent4);
  --pb_clr: var(--clr_bold);
  /* drawer tabs */
  --dt_bg: var(--bg2);
  --dt_clr: var(--inherit);
  --dt_bar: var(--clr_bold);
  /* genre/playlist list */
  --l_select: var(--accent3);
  --l_fab: var(--accent);
  --l_fab_clr: var(--black);
  /* volume dial */
  --vd_clr: var(--clr);
  --vd_clr_accent: var(--accent);
  /* search toolbar */
  --st_bg: var(--black);
  /* pitch slider */
  --ps_clr: var(--accent2);
  --ps_bg: var(--clr);
  /* search info */
  --si_heading: var(--clr_bold);
  --si_emphasis: #39FF7E;
  /* song list */
  --sl_border: 1px solid #2F2F2F;
  --sl_hover: rgb(20,20,20);
  --sl_fadeout: linear-gradient(to right, rgba(41,41,41,0), rgba(41,41,41,1));
  --sl_hoverfadeout: linear-gradient(to right, rgba(20,20,20,0), rgba(20,20,20,1));
  --sl_btnborder: 1px solid rgb(20,20,20);
  --sl_btnborderhover: 1px solid #999999;
  --sl_energy0: #999;
  --sl_energy1: #0066ff;
  --sl_energy2: #00ccff;
  --sl_energy3: #00ffff;
  --sl_energy4: #00ffb0;
  --sl_energy5: #00ff00;
  --sl_energy6: #99ff00;
  --sl_energy7: #ffff00;
  --sl_energy8: #ff9900;
  --sl_energy9: #ff5500;
  --sl_energy10: #ff2266;
  /* audio */
  --au_play: var(--clr_bold);
  --au_disabled: var(--clr_disabled);

  /** main **/
  --dark-primary-color: #303f9f;
  --default-primary-color: #3f51b5;
  --light-primary-color: #c5cae9;
  --text-primary-color: #ffffff;
  --accent-color: #ff4081;
  --primary-background-color: var(--bg);
  --primary-text-color: var(--clr);
  --secondary-text-color: var(--clr_bold);
  --disabled-text-color: #bdbdbd;
  --divider-color: #e0e0e0;

  /* mdc elements */
  --mdc-theme-secondary: var(--l_fab);
  --mdc-theme-on-secondary: var(--l_fab_clr);

  /* paper elements */
  --paper-input-container-color: var(--pi_clr);
  --paper-input-container-focus-color: var(--pi_accent);
  --paper-input-container-invalid-color: var(--pi_err);
  --paper-input-container-input-color: var(--pi_clr);
  --paper-item-min-height: 13px;
  --paper-toast-background-color: var(--pt_bg);
  --paper-toast-color: var(--pt_clr);
  --paper-toggle-button-checked-bar-color:  var(--ptb_clr_checked);
  --paper-toggle-button-checked-button-color:  var(--ptb_clr_checked);
  --paper-toggle-button-checked-ink-color: var(--ptb_clr_checked);
  --paper-toggle-button-unchecked-bar-color:  var(--ptb_clr_unchecked);
  --paper-toggle-button-unchecked-button-color:  var(--ptb_clr_unchecked);
  --paper-toggle-button-unchecked-ink-color: var(--ptb_clr_unchecked);

  /* misc elements */
  --round-slider-path-color: var(--vd_clr);
  --round-slider-handle-color: var(--vd_clr_accent);
  --round-slider-bar-color: var(--vd_clr_accent);

  /* soulsifter elements */
  --ss-abstract-action-button-bg: var(--pb_bg);
  --ss-abstract-action-button-clr: var(--pb_clr);
  --ss-abstract-action-button-accent-bg: var(--pb_accent_bg);
  --ss-abstract-action-button-accent-clr: var(--pb_accent_clr);
  --ss-drawer-tab-bg: var(--dt_bg);
  --ss-drawer-tab-clr: var(--clr);
  --ss-drawer-tab-active-clr: var(--dt_bar);
  --ss-genre-list-item-selected-bg: var(--l_select);
  --ss-options-menu-background-color: var(--om_bg);
  --ss-options-menu-background-color-hover: var(--om_bg_hover);
  --ss-options-menu-color-hover: var(--om_clr_hover);
  --ss-playlist-list-item-selected-bg: var(--l_select);
  --ss-search-info-heading-color: var(--si_heading);
  --ss-search-info-emphasis-color: var(--si_emphasis);
  --ss-search-toolbar-bg: var(--st_bg);
  --ss-song-list-item-border-bottom: var(--sl_border);
  --ss-song-list-item-hover-background-color: var(--sl_hover);
  --ss-song-list-item-artist-color: var(--clr);
  --ss-song-list-item-title-color: var(--clr_bold);
  --ss-song-list-item-fade-out: var(--sl_fadeout);
  --ss-song-list-item-hover-fade-out: var(--sl_hoverfadeout);
  --ss-song-list-item-button-border: var(--sl_btnborder);
  --ss-song-list-item-button-hover-border: var(--sl_btnborderhover);
  --ss-song-list-item-energy-0: var(--sl_energy0);
  --ss-song-list-item-energy-1: var(--sl_energy1);
  --ss-song-list-item-energy-2: var(--sl_energy2);
  --ss-song-list-item-energy-3: var(--sl_energy3);
  --ss-song-list-item-energy-4: var(--sl_energy4);
  --ss-song-list-item-energy-5: var(--sl_energy5);
  --ss-song-list-item-energy-6: var(--sl_energy6);
  --ss-song-list-item-energy-7: var(--sl_energy7);
  --ss-song-list-item-energy-8: var(--sl_energy8);
  --ss-song-list-item-energy-9: var(--sl_energy9);
  --ss-song-list-item-energy-10: var(--sl_energy10);
  --ss-song-list-item-waveform-0: var(--sl_energy0);
  --ss-song-list-item-waveform-1: var(--sl_energy1);
  --ss-song-list-item-waveform-2: var(--sl_energy2);
  --ss-song-list-item-waveform-3: var(--sl_energy3);
  --ss-song-list-item-waveform-4: var(--sl_energy4);
  --ss-song-list-item-waveform-5: var(--sl_energy5);
  --ss-song-list-item-waveform-6: var(--sl_energy6);
  --ss-song-list-item-waveform-7: var(--sl_energy7);
  --ss-song-list-item-waveform-8: var(--sl_energy8);
  --ss-song-list-item-waveform-9: var(--sl_energy9);
  --ss-song-list-item-waveform-10: var(--sl_energy10);
  --ss-star-rating-color: var(--sr_clr);
  --ss-star-rating-selected-color: var(--sr_selected);
  --ss-star-rating-trashed-color: var(--sr_trashed);
}

/** pitch slider **/
paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: var(--ps_clr);
}
paper-slider::shadow #sliderKnobInner {
  background-color: var(--ps_clr);
}
paper-slider::shadow #sliderKnobInner::before {
  background-color: var(--ps_clr);
}
paper-slider::shadow #sliderBar::shadow #secondaryProgress {
  background-color: var(--ps_bg);
}
paper-slider::shadow #sliderBar::shadow #progressContainer {
  background-color: var(--ps_bg);
}

/** audio **/
ss-audio::shadow core-icon {
  color: var(--au_play);
}
ss-audio::shadow .disabled core-icon {
  color: var(--au_disabled);
}
