:host(.serato) {
  --inherit: inherit;
  --black: black;
  --osx_grey: #B1B1B1;

  --sl_blue: #1EC8FA;
  --sl_brown: #6E330A;
  --sl_green: #39FF7E;
  --sl_grey: #292929;
  --sl_orange: #FDC443;
  --sl_purple: #AC1AFA;

  /* main */
  --bg: var(--sl_grey);
  --clr: #999999;
  --clr_bold: #CCCCCC;
  --err: #F92772;
  --sidebar-width: 270px;
  --scrollbar-width: 15px;

  /* star rating */
  --sr_clr: #666;
  --sr_selected: #EEE;
  --sr_trashed: #833;
  /* options menu */
  --om_bg: #161616;
  --om_bg_hover: var(--black);
  --om_clr_hover: var(--clr_bold);
  /* paper input */
  --pi_accent: var(--sl_blue);
  --pi_clr: var(--clr);
  --pi_err: var(--err);
  /* paper toggle button */
  --ptb_clr_checked: var(--sl_blue);
  --ptb_clr_unchecked: var(--clr);
  /* paper alert toast */
  --pt_bg: var(--sl_brown);
  --pt_clr: #FFF;
  /* paper button */
  --pb_accent_bg: var(--sl_brown);
  --pb_accent_clr: var(--clr_bold);
  --pb_bg: #555;
  --pb_clr: var(--clr_bold);
  /* drawer tabs */
  --dt_bg: #1F1F1F;
  --dt_clr: var(--inherit);
  --dt_bar: var(--clr_bold);
  /* genre/playlist list */
  --l_select: var(--sl_brown);
  --l_fab: var(--sl_brown);
  --l_fab_clr: var(--inherit);
  /* volume dial */
  --vd_clr: var(--clr);
  --vd_clr_accent: var(--sl_blue);
  /* search toolbar */
  --st_bg: var(--black);
  /* pitch slider */
  --ps_clr: var(--sl_purple);
  --ps_bg: #999;
  /* audio player */
  --ap_slider_clr: var(--sl_purple);
  --ap_slider_bg: #999;
  --ap_btn_clr: #CCC;
  /* search info */
  --si_heading: #CCC;
  --si_emphasis: var(--sl_green);
  /* song list */
  --sl_artist: var(--clr);
  --sl_title: var(--clr_bold);
  --sl_border: #2F2F2F;
  --sl_hover: rgb(20,20,20);
  --sl_energy0: #999;
  --sl_energy1: #0066ff;
  --sl_energy2: #00ccff;
  --sl_energy3: #00ffff;
  --sl_energy4: #00ffb0;
  --sl_energy5: #00ff00;
  --sl_energy6: #99ff00;
  --sl_energy7: #ffff00;
  --sl_energy8: #ff9900;
  --sl_energy9: #ff5500;
  --sl_energy10: #ff2266;

  /** main **/
  --dark-primary-color: #303f9f;
  --default-primary-color: #3f51b5;
  --light-primary-color: #c5cae9;
  --text-primary-color: #ffffff;
  --accent-color: #ff4081;
  --primary-background-color: var(--bg);
  --primary-text-color: var(--clr);
  --secondary-text-color: var(--clr_bold);
  --disabled-text-color: #bdbdbd;
  --divider-color: #e0e0e0;
}
