:host(.snow) {
  color-scheme: light;

  /* core color palette */
  --bg: #f9f9f9;
  --bg2: #eee;
  --clr: #333;
  --clr_bold: #000  ;
  --clr_disabled: #777;
  --err: #f55;
  --err_disabled: #b33;
  --accent: #09e;
  --accent2: #e83;
  --accent3: #9ff;

  /* component colors */
  --md-checkbox-selected-icon-color: var(--bg);
}